.fondo-404
    width: 100vw
    height: 100vh
    background-image: url(../assets/404-fondo.jpg)
    background-size: cover
    background-position: center center
    color: #ffffff
    display: flex
    padding: 10vh 15vw
    box-sizing: border-box

.fondo-404 h1 a 
    font-size: 3rem
    color: #ffffff
    text-decoration: none

.fondo-404 h1 a:hover
    text-decoration: underline