.bannerArtistas
    height: 60vh
    background-image: url(../assets/lanzamiento-blues-3.jpg)
    background-size: cover
    background-position: top center
    color: #ffffff
    margin-bottom: 5vh
    cursor: default
.circulo
    clip-path: circle(40% at 50% 50%);

.card-reveal p
    // font-family: 'oswaldlight'
.card-reveal h3, .card-title
    font-family: 'pf_beausans_proregular'


.card-content p 
    text-align: center

.artistas
    padding: 15vh 0

.artistas .card
    margin: 3vh 0
.artistas .card .card-reveal p
    text-align: justify 

.blue i
    color: #ffffff !important

#artistas
    min-height: 40vh
    background-image: url("../assets/parallax/FOTO_FONDO_6.jpg")

#artistas div h1 
    color: #ffffff
.divider
    margin-bottom: 1rem
.redes-artistas
    display: flex
    justify-content: center
.redes-artistas a
    display: flex
    justify-content: center
.redes-artistas a img
    height: 2rem

#fb2
    filter: grayscale(100%) contrast(0)
#ig2
    filter: grayscale(100%) contrast(0)
#tw2
    filter: grayscale(100%)  contrast(0) 
#yt2
    filter: grayscale(100%)  contrast(0)
#fb2:hover
    filter: grayscale(0)
#ig2:hover
    filter: grayscale(0)
#tw2:hover
    filter: grayscale(0)  
#yt2:hover
    filter: grayscale(0) 