.titulo
    display: flex
    background-image: url("../assets/BAFF 1.jpg")
    background-position: center center
    background-size: cover
    align-content: flex-end
    justify-content: flex-end
    align-items: flex-end
    height: 50vh
    color: white
    font-weight: bolder
    font-family: 'Dakota'

.fotoFestival
    background-image: url("../assets/BAFF14.jpg")
    height: 60vh
    background-size: cover
    background-position: center right
    
.navbar-interno
    height: 8vh
    background: linear-gradient(to right, #008580, #00504c) 

.intro-versiones
    margin: 5vh auto
    text-align: justify

.intro-versiones
    margin-top: 10vh

.marcas
    display: flex
    flex-wrap: wrap
    justify-content: space-around

.marcas img 
    margin: 5vh 5vw 
    max-width: 80vw

.equipo
    margin: 5vh 0 0
    padding: 0 0 5vh
    background-color: #e0e0e0

.blanco
    background-color: #ffffff

#elFestival
    min-height: 40vh
    background-image: url("../assets/parallax/FOTO_FONDO_5.jpg")
#elFestival div h1 
    color: #ffffff
.horizontal
    width: 46vw
    margin-bottom: 0
    align-self: flex-end
    cursor: pointer

.video-festival
    margin-top: 10vh
    padding: 3vh
    background-color: #008580
    background: linear-gradient(to bottom right, #e30039, #e74910)
    box-shadow: 0px 8px 14px 0px rgba(38,38,38,0.64)

.video-festival iframe
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.63)

.areas
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center
    padding: 0 12vw
    font-family: 'pf_beausans_proregular'

.areas pre
    font-family: 'pf_beausans_proregular'

.columna
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    justify-content: center
    width: 100%
    padding: 0 14vw !important

.columna div
    flex: 1 0 0

.comunicaciones
    display: flex
    width: 100%
    justify-content: center
    flex-direction: column

@media only screen and (max-width: 800px)
    .video-festival
        position: relative
        padding-bottom: 56.25%
        padding-top: 30px
        height: 0
        overflow: hidden
    .video-festival iframe, .video-festival object, .video-festival embed 
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
    .texto-festival
        font-size: 1.1rem
        line-height: 2
        margin-top: -2rem

    .areas 
        padding: 0
        flex-direction: column

    .areas div
        margin: auto
        display: inline

    .columna 
        padding: 0
        flex-direction: column
