.banner-inicio
    background-image: url("../assets/banner.svg")
    min-height: 100vh
    width: 100vw
    margin: 0
    display: flex
    background-position: right center
    background-repeat: no-repeat
    background-size: cover
    padding: 8vh 0

.foto-blues
    background-image: url("../assets/el-festival-blues.png")
    background-position: center center
    background-size: cover
    height: 100%

.naranja
    background-color: #e96549
    color: #ffffff
    font-family: 'plantinlight'
    font-size: 1.1rem

.naranja p 
    padding: 1rem 1.5rem
    text-align: justify

.franja-titulo
    text-align: center
    font-family: 'pf_beausans_prosemibold'
    color: #ffffff
    background-color: #00504c
    letter-spacing: 1rem

.card
    margin: 0

.card.programacion
    background-image: url(../assets/BAFF14.jpg)
    filter: grayscale(100%)
    background-position: center center
    background-size: cover
    cursor: pointer
    color: #ffffff

.card:hover
    filter: grayscale(0)

.card-title h3, .card-title h4
    font-family: 'oswaldlight'

.card-content h1, .card-content a i
    color: #fff7b2

.card 
    color: #000000

.logo
    max-height: 7vh
    width: auto
    margin: 2vw

.gris
    background-color: #e0e0e0 !important

main 
    margin-bottom: 40vh
    box-sizing: border-box


.organiza
    background-color: #ffffff

.conciertos
    background-color: #ffffff
.conciertos .card
    background-position: center center
    background-size: cover
    background-repeat: no-repeat
    border: solid #ffffff 1px
.especial .tarjeta-contenido .card-image
    min-height: 37.8vh
.tarjeta-contenido:nth-child(2), .tarjeta-contenido:nth-child(9),.tarjeta-contenido:nth-child(13)
    background-image: url("../assets/Detalles/355-gris.jpg")
.tarjeta-contenido:nth-child(3), .tarjeta-contenido:nth-child(10),.tarjeta-contenido:nth-child(14)
    background-image: url("../assets/Detalles/434-gris.jpg")
.tarjeta-contenido:nth-child(4), .tarjeta-contenido:nth-child(11)
    background-image: url("../assets/Detalles/1740-gris.jpg")
.tarjeta-contenido:nth-child(5) 
    background-image: url("../assets/Detalles/271091-P5BN40-101-gris.jpg")
.tarjeta-contenido:nth-child(6)
    background-image: url("../assets/Detalles/OPH90B0-gris.jpg")
.tarjeta-contenido:nth-child(7),.tarjeta-contenido:nth-child(1),.tarjeta-contenido:nth-child(12)
    background-image: url("../assets/Detalles/OPH92N0-gris.jpg")
.tarjeta-contenido:nth-child(8)
    background-image: url("../assets/Detalles/OPH9350-gris.jpg")

ul li a
    color: #000000 !important

.conciertos div .card-image h3
    color: #ffffff
    font-family: 'oswaldlight'
.conciertos div .card-image h1
    color: #fff7b2
    font-size: 6rem
    font-family: 'oswaldregular'
.amarillo
    color: #fff7b2 !important
    margin-bottom: -2rem
.conciertos div .card-image h1 img
    max-width: 4rem
    display: block
    margin: auto
    margin-top: 1rem
.actividades
    background-color: #ffffff
.actividades .card
    background-position: center center
    background-size: cover
    background-repeat: no-repeat
    border: solid #ffffff 1px
.actividades div .card-image h3
    color: #ffffff
    font-family: 'oswaldlight'
.actividades div .card-image h1
    color: #fff7b2
    font-size: 6rem
    font-family: 'oswaldregular'
.actividades div .card-image h1 img
    max-width: 4rem
    display: block
    margin: auto
    margin-top: 1rem
.especial
    background-color: #ffffff
.especial .card
    background-position: center center
    background-size: cover
    background-repeat: no-repeat
    border: solid #ffffff 1px
.especial div .card-image h3
    color: #ffffff
    font-family: 'oswaldlight'
.especial div .card-image h1
    color: #fff7b2
    font-size: 6rem
    font-family: 'oswaldregular'
.especial div .card-image h1 img
    max-width: 4rem
    display: block
    margin: auto
    margin-top: 1rem

.row
    margin: 0

.areas
    align-items: stretch

.areas div
    height: 100%

.copyx
    display: none !important

.areas
    display: flex
    justify-content: space-around
    align-content: stretch
    align-items: center
    padding: 0 20vw
    
.areas div
    display: flex
    height: 100%
    padding: 0 2vw

.areas div div
    display: flex
    flex-direction: column


.puzzle-lightbox
    position: fixed
    display: flex
    justify-content: center
    align-content: center
    align-items: center
    width: 100vw
    height: 100vh
    top: 0
    left: 0
    z-index: 500
    background-color: rgba(227,0,57,0.8)

#cerrar-puzzle
    cursor: pointer
    position: fixed
    z-index: 501
    top: 25%
    left: 65%
    font-size: 3rem
    float: right
    color: #ffffff

.modal .modal-content
    margin: auto
    box-sizing: border-box
    padding-top: 0
    padding-bottom: 0

.modal
    width: 33%

.parallax-container
    height: 80vh

.pimg
    background-image: url("../assets/parallax/FOTO_FONDO_5.jpg")
    min-height: 50vh
    background-position: center
    background-size: cover
    background-attachment: fixed
    display: flex
    justify-content: center
    align-content: center
    align-items: center
    color: #ffffff
    box-shadow: 0px 8px 14px 0px rgba(38,38,38,0.64)

#aPedag
    background-image: url("../assets/parallax/FOTO_FONDO_7.jpg")

.collapsible-header
    justify-content: center
    align-content: center
    align-items: center
    flex-direction: column
    text-align: center
    color: #ffffff

.collapsible li:nth-child(1) .collapsible-header
    background-image: url("../assets/conciertos.jpg")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
.collapsible li:nth-child(2) .collapsible-header
    background-image: url("../assets/actividades.jpg")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
.collapsible li:nth-child(3) .collapsible-header 
    background-image: url("../assets/especial.jpg")
    background-size: cover
    background-position: center
    background-repeat: no-repeat

.collapsible-body
    padding: 0

.redes-artistas
    display: flex
    justify-content: space-around
.logo-escenario img
    width: auto
    max-width: 70%
    max-height: 100px

.calendario
    display: flex
    justify-content: center

.addeventatc
    margin: 0 auto 2vh
    align-self: center

h1.activator
    margin-top: 0

.a2a_kit
    display: flex
    justify-content: center
.a2a_kit a
    filter: grayscale(100%)

.celebrando
    display: flex
    width: 100%
    justify-content: center
    align-items: center
    align-content: flex-start
    align-self: flex-end
    flex-direction: column
    // margin-left: 15vh
.celebrando img
    // align-self: center
    height: 4rem
    max-width: 80%
.celebrando img:nth-child(1)
    align-self: flex-start
    margin: 0 10vh 12vh

.card-title
    text-align: center 
.card-reveal
    text-align: center

h3.activator strong
    font-weight: bolder

.asocio img
    max-width: 8vw
.asocio img:nth-child(6)
    max-width: 5vw
.asocio img:nth-child(5), .asocio img:nth-child(7)
    max-width: 10vw
    

@media only screen and (max-width: 1200px)
    .banner-inicio
        min-height: 62vh
        padding: 8vh 0 0
    .celebrando img:nth-child(1)
        margin: 0
        align-self: center
    .asocio img
        max-width: none
    .asocio img:nth-child(6)
        max-width: none
    .asocio img:nth-child(5), .asocio img:nth-child(7)
        max-width: none
@media only screen and (max-width: 800px)
    .banner-inicio
        background-image: url("../assets/bg-inicio-movil.jpg")
        background-position: right center
        // background-size: cover
        height: 90vh
        min-height: 20vh
        // max-height: 90vh
        display: flex
        flex-direction: column
        padding: 18vh 3vw 0
        text-align: center
        color: #ffffff
        overflow: hidden
        position: fixed
        z-index: 10
        justify-content: center
        align-items: flex-end

    .banner-inicio .contenedor-marca img
        max-width: 90%
        max-height: 100%
        min-height: 10vh
        align-self: center
    
    .banner-inicio .guitarra 
        align-self: center
    .banner-inicio .guitarra img
        max-height: 65vh
        align-self: flex-end
        margin: 0
    .fecha
        align-self: center
        margin-top: 6vh
    


    .el-festival h1
        font-size: 1.8rem

    .progra
        margin-top: 90vh

    .areas
        padding: 0 2vw

    .areas .columna
        flex-direction: column
    
    .areas .columna:nth-child(2)
        border-left: 1px solid black

    #cerrar-puzzle
        top: 15%
        left: 75%
    
    #modal1
        width: 90vw
        // height: 90vw

    .modal h6
        margin: 0

    .modal .modal-content
        height: 55vh
        padding-top: 0
        padding-bottom: 0

    .modal .modal-footer
        margin: 0
        padding: 0
        height: 0.4rem

    .pimg
        background-image: none
        background-color: #000000
        min-height: 8vh
        max-height: 10vh
    .pimg h1
        font-size: 1.7rem
        letter-spacing: .7rem

    progra
        min-height: 10vh
        max-height: 10vh
        background-color: #000000
        color: #ffffff
        
    .collapsible-header h4
        font-size: 1rem
        letter-spacing: .3rem

    .collapsible-body
        padding: 0
        position: relative
        z-index: 0

    .collapsible-body div .card
        background-color: #000000
        margin: 0
        padding: 0
        background-image: none
        background-color: #000000
        display: flex
        justify-content: space-between

    .collapsible-body div .card .card-image
        display: flex
        flex-direction: column
        min-width: 33vw
        min-height: 100%
        background-image: url("../assets/parallax/FOTO_FONDO_4.jpg")
        background-size: cover
        background-position: center
        background-repeat: no-repeat
    .collapsible-body div .card .card-image h3
        font-size: 1.7rem
    .collapsible-body div .card .card-image h4
        font-size: 1.5rem
    .collapsible-body div .card .card-image h1 
        font-size: 6rem
        margin-bottom: 0
    .collapsible-body div .card .card-reveal
        display: flex
        position: relative
        z-index: 0
        flex-grow: 2
        padding: 1rem
        flex-direction: column
        background-color: rgba(0,0,0,0)
        color: #ffffff
        font-family: 'oswaldlight'
        justify-content: center
    .collapsible-body div .card .card-reveal .card-title
        color: #ffffff
        font-family: 'oswaldlight'
        font-size: 1.3rem
    .addeventatc
        font-size: 12px !important
        display: flex !important
        padding: 10px 10px 10px 40px !important
        max-width: 40vw
    .marca.row.col.s8
        width: auto
    .hash
        align-self: flex-end
        float: right

    .logo-escenario
        margin: 2vh 0
        width: 100%
        font-size: 1.2rem

    .tarjeta-contenido .material-icons
        color: #ffffff

    .logo
        height: 5vh
        width: auto 


    .asocio img:nth-child(8), .asocio img:nth-child(13), .asocio img:nth-child(14), .asocio img:nth-child(15), .asocio img:nth-child(16)
        height: 4vh
    .aliados img:nth-child(3)
        height: 4.5vh