$fondo-header: #f0c94d
$fondo-footer: #1c1a43

body
    display: flex
    min-height: 100vh
    flex-direction: column
    overflow-x: hidden

main
    flex: 1 0 auto
    margin-bottom: 0 !important
    // margin-top: 15vh

.header.row
    margin-bottom: 0
    z-index: 100

button:focus
    background-color: rgba(0,0,0,0)

.header
    // background-color: none
    box-sizing: border-box
    position: fixed
    width: 100vw
    height: 15vh
    background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0))
    // background-color: rgba(120,120,120,0.2)
    // vertical-align: center
.marca img
    height: 10vh
    cursor: pointer

.hamburger
    margin-left: 0 !important

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
    background-color: #ffffff !important

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before
    background-color: #000000 !important
.menu
    background-color: #ffffff
    position: fixed
    top: 0
    left: 0
    height: 100vh
    width: 100vw
    clip-path: polygon(0 0, 25% 0%, 20% 100%, 0% 100%)
    padding: 9rem 3rem
    transition-duration: 0.5s
    transition-timing-function: ease-out

.menu.cerrado
    transform: translateX(-100%)
    transition-duration: 0.5s
    transition-timing-function: ease-out

.menu img
    padding-bottom: 0.5rem
    border-bottom: solid 0.2rem #707070 

ul li a
    font-family: 'Lato', sans-serif
    color: #707070
    font-size: 2rem
    line-height: 2
    font-weight: lighter
.descarga
    font-size: 1.2rem
ul li a:hover
    color: #000000
    font-weight: bold
    transform: scale(1.1)
    transform-origin: left center

.fondoMenu.cerrado
    width: 0
    opacity: 0
    transition-duration: 0.5s
    transition-delay: 0.1s

.fondoMenu
    transition-delay: 0.1s
    display: block
    height: 100vh
    width: 100vw
    transform-origin: left center
    background-color: #000000
    transition-duration: 0.5s
    opacity: 0.5
    position: fixed
    top: 0
    left: 0
    backdrop-filter: blur(5px)

.page-footer p
    font-family: 'pf_beausans_proregular' 
.page-footer a
    font-family: 'pf_beausans_proregular' 
    color: #ffffff
.page-footer a:hover 
    text-decoration: underline 
.page-footer
    padding-top: 0
    background-color: #000000
    box-sizing: border-box
footer div.row
    margin: 0

footer div.row img 
    max-width: 10%

.info
    background-color: #000000
    height: 5vh
.hash a
    font-family: 'pf_beausans_proregular'
    color: #ffffff

.redes a img
    max-height: 2rem
    width: auto
    margin: 0 0.2rem

.redes p
    color: #ffffff
    margin: 0 0.5rem 

.page-footer div:nth-child(1)
    // background-color: green
    display: flex
    justify-content: center
.page-footer div:nth-child(1) img
    align-self: center

@media only screen and (max-width: 1500px)
    .menu
        clip-path: polygon(0 0, 40% 0%, 30% 100%, 0% 100%)

@media only screen and (max-width: 900px)
    .menu
        clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%)
    footer div.row img 
        min-width: 18%
        max-width: 20%
    footer h6
        text-align: center
        font-size: 1rem

    footer h4
        font-size: 1.7rem

    footer p
        text-align: center
        font-size: 0.7rem
    .menu img
        width: 70vw
    .modal
        width: 100vw !important
        margin: auto
    .redes
        display: flex
        flex-wrap: no-wrap
        width: auto
    .redes a img
        height: auto