#i0{
	background : url("../assets/GUIA.jpg") 0 0;
}
#i1{
	background : url("../assets/GUIA.jpg") -100px 0;
}
#i3{
	background : url("../assets/GUIA.jpg") 0 -100px;
}
#i4{
	background : url("../assets/GUIA.jpg") -100px -100px;
}
#i5{
	background : url("../assets/GUIA.jpg") -200px -100px;
}
#i6{
	background : url("../assets/GUIA.jpg") 0 -200px;
}
#i7{
	background : url("../assets/GUIA.jpg") -100px -200px;
}
#i8{
	background : url("../assets/GUIA.jpg") -200px -200px;
}



.titulo h2{

color:white;
font-family:monospace;
font-size: 3rem;
text-align: center;

}

.puzzle{
	width: 299px;
	height : 300px;
	margin: auto;
	background-color: #ccc;
}



.puzzle ul{
	list-style: none;
	width: 300px;
	height: 300px;
	position: relative;
}

.puzzle li{
	position: absolute;
	width: 100px;
	height : 100px;
	border : 1px solid rgb(128, 117, 117);
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-ms-transition: all .25s linear;
	-o-transition: all .25s linear;
	transition: all .25s linear;
}

li.neighbor:hover{
	z-index: 2;
	box-shadow: 0 0 6px 4px #000;
}

li#i0{
	left: 0px; top: 200px;
}

li#i1{
	left: 200px; top: 100px;
}

li#i2{
	left: 100px; top: 0px;
}

li#i3{
	left: 100px; top: 200px;
}

li#i4{
	left: 200px; top: 0;
}

li#i5{
	left: 0; top: 0;
}

li#i6{
	left: 0; top: 100px;
}

li#i7{
	left: 100px; top: 100px;
}

li#i8{
	left: 200px ; top: 200px;
}

.img{
	width: 300px;
	height: 300px;
	margin: 5px 10px;
}


@keyframes end{
	0%{box-shadow: 0 0 5px 3px #FF3737};
	100%{box-shadow: 0 0 5px 3px #FF1C1C};
}

@-webkit-keyframes end{
	0%{box-shadow: 0 0 5px 3px #FF3737};
	100%{box-shadow: 0 0 5px 3px #FF1C1C};
}

@-moz-keyframes end{
	0%{box-shadow: 0 0 5px 3px #FF3737};

	100%{box-shadow: 0 0 5px 3px #FF1C1C};
}

.b-s-m , .b-s-s{
	-webkit-animation: end 1s linear infinite ;
	-moz-animation: end 1s linear infinite ;
	-o-animation: end 1s linear infinite ;
	animation: end 1s linear infinite ;
}

.b-s-m-p , .b-s-s-p{
	animation : end 1s linear infinite ;
	animation-play-state : paused;
	-webkit-animation : end 1s linear infinite ;
	-webkit-animation-play-state : paused;
	-moz-animation : end 1s linear infinite ;
	-moz-animation-play-state : paused;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="text"]:hover,
input[type="number"]:hover {
  color: #DDD;
  background-color: #404040;
  border: solid 1px #595959;
  box-shadow: 0 11px 14px -12px rgba(20, 20, 40, 0.75);
}

.back-state-button {
    margin-right: 1rem;
    font-size: 1.2rem;
    font-family: "Arial Black";
    font-weight: bold;
}

.forward-state-button {
    margin-left: 1rem;
    font-size: 1.2rem;
    font-family: "Arial Black";
    font-weight: bold;
}

.new-sequence-label {
  display: block;
  margin: 1rem auto;
  text-align: center;
}

.new-sequence-label small {
  font-size: 0.7rem;
}

.new-sequence-label span:first-child {
  display: inline-block;
  text-align: right;
}

.state-label {
  display: block;
  margin-bottom: 1rem;
  text-align: left;
}

.state-label span:first-child {
  display: inline-block;
  min-width: 6rem;
  text-align: right;
}

.state-index {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  border-bottom: solid 1px #393939;
  box-shadow: 0 1px 0 #272727;
}

.cerrado {
	display: none;
	transition-delay: 0.5ms;
}
.acabaste {
	position: fixed;
	width: 450px;
	height: 200px;
	background-color: white;
	border-radius: 15px;
	opacity: 0.9;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 5%;
	box-sizing: border-box;
}

.acabaste h1 {

font-size: 1.2rem;
font-family: sans-serif;
text-align: center;
/* margin-top: -140px; */
color: #2D2D2D;
/* padding: 30px; */
}

.acabaste h2{

font-size: 1.8rem;
font-family:monospace;
text-align: center;
/* margin-top: 40px; */
/* padding: 20px; */
color: #2D2D2D;
}

.popupCloseButton {
    background-color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position:absolute;
    top: 3%;
		right: 3%;
    /* margin-left: 93%; */
    font-size: 20px;
    line-height: 30px;
    text-align: center;
		color: #2D2D2D;
}

.popupCloseButton:hover {
    background-color: #ccc;
}

.controls{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 0;
}

.puzzle li .empty{
	border: 0px;
}

@media only screen and (max-width: 450px){
	.puzzle{
		width: 240px;
		height : 240px;
		margin: 0;
		background-color: #ccc;
	}
	
	
	
	.puzzle ul{
		list-style: none;
		width: 300px;
		height: 300px;
		position: relative;
	}
	
	.puzzle li{
		position: absolute;
		width: 100px;
		height : 100px;
		border : 1px solid rgb(128, 117, 117);
		-webkit-transition: all .25s linear;
		-moz-transition: all .25s linear;
		-ms-transition: all .25s linear;
		-o-transition: all .25s linear;
		transition: all .25s linear;
	}
}