#sedes
    min-height: 40vh
    background-image: url("../assets/parallax/FOTO_FONDO_2.jpg")    

#sedes div h1 
    color: #ffffff


.sede
    margin: 4vh 0
    display: flex
    justify-content: center
    align-content: center
    align-items: center
    background-image: url("../assets/DSC01893.jpg")
    background-size: cover
    background-position: center
    height: 50vh
    background-repeat: no-repeat
    background-attachment: fixed

.sede:nth-child(2)
    background-image: url("../assets/maxresdefault.jpg")
.sede:nth-child(3)
    background-image: url("../assets/enews_imagenes_imagen_5880.jpg")
.sede:nth-child(4)
    background-image: url("../assets/rassegna_butacas-auditorio-cancilleria-4.jpg")

.nombre-sede
    background-color: #ffffff
    border-radius: 15px
    padding: 0.8rem
    margin: 1rem auto
    mix-blend-mode: lighten

@media only screen and (max-width: 800px)
    .sede
        background-attachment: scroll
