@import "puzzle"
@import "fuentes"
@import "menu"
@import "hamburger"
@import "inicio"
@import "el-festival"
@import "animate"
@import "artistas"
@import "sedes"
@import "404"
@import url('https://fonts.googleapis.com/css?family=Lato')

html,body
  width: 100vw
  overflow-x: hidden
  margin: 0 
      
#navbar
  transition-duration: 0.5s
